* {

	margin: 10px;
	background: #f7f7f7;
}
h1 {

	font-family: Comic Sans MS;
	font-weight: bold;
}

p {

	font-family: Comic Sans MS;

}

.ExampleForGit {

	height: 300px;
	width: 400px;
	border: 1px solid silver;
	border-radius: 10px;
	float:left;

}

