* {

	margin: 10px;
	background: #f7f7f7;
}
h1 {

	font-family: Comic Sans MS;
	font-weight: bold;
}

p {

	font-family: Comic Sans MS;

}

.ExampleForGit {
	margin-top: 20px;
	height: 300px;
	width: 400px;
	border: 1px solid silver;
	border-radius: 10px;
	float:left;

}

#span {

	font-size: 1.1em;
	font-family: Comic Sans MS;
	color:red;
}
